# Supabase — Project Settings → API
NEXT_PUBLIC_SUPABASE_URL=https://mcpwmshtnbgpviselzfm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_B_YAH3SKX9xsYvO3tKNPHg_2qm8InHXsb_publishable_B_YAH3SKX9xsYvO3tKNPHg_2qm8InHX
